<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>觉晓法考</title>
    <meta
      name="keywords"
      content="法考,法律职业资格考试,法律职业资格考试培训,觉晓科技,觉晓法考,蒋四金,蒋四金法考 "
    />
    <meta
      name="Description"
      content="觉晓法考 - 法考学习平台，能帮助用户获取到优质、适合自己的教学资源，并且为用户定制学习计划，把学习量化到每天，每一张卡片，创建学习社区，班主任督促鼓励学习。只需要跟着我们的教学计划，每天打卡学习，就能迅速掌握知识，通过考试。"
    />

    <%- injectCdnStyle %>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>

    <%- injectCdnScript %>
  </body>
</html>
